<p id="notice"><%= notice %></p>

<p>
  <b id='naaame'>Name:</b>
  <%= @idea.name %>
</p>

<p>
  <b id='deeesc'>Description:</b>
  <%= @idea.description %>
</p>

<p>
  <b id='piiic'>Picture:</b>
  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea, id: 'ediiit') %> |
<%= link_to 'Back', ideas_path, id: 'baaack' %>
